// 主题色
$theme: #00d090;

// 主题色浅色
$theme-light: rgba($color: $theme, $alpha: 0.4);

// 警告
$warming: #ef4136;

// 常规灰色
$common-grey: #666666;

// disable
$disable: #ededed;

// 常规白
$white: #ffffff;

// 常规黑
$black: #000000;

// 黑色 + 透明度
$black1: rgba(0,0,0,0.1);
$black4: rgba(0,0,0,0.4);
$black7: rgba(0,0,0,0.7);

